*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: grey;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 100px auto;



}
.one{
    /* border-radius: 50px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px; */
    background: radial-gradient(circle at top left, transparent 45px, grey 0);
   
}
.one::before{
    content: attr(data-notification);
    width: 40px;
    height: 40px;
    background-color: red;
    padding: 15px;
    border-radius: 50%;
    

}

.two{
    background: linear-gradient(135deg, transparent 45px, green 0) top left,

    linear-gradient(-45deg, transparent 45px, green 0) bottom left;
    background-size: 100% 50%;
    background-repeat: no-repeat;

}

.three{
    background: linear-gradient(135deg, transparent 45px, green 0) top left,
    linear-gradient(-135deg, transparent 45px, red 0) top right,
    linear-gradient(45deg, transparent 45px, pink 0) bottom left,

    linear-gradient(-45deg, transparent 45px, blue 0) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;

}